<nav class="navbar navbar-expand">
  <div class="navbar-nav">
    <div id="characterWrapper">
      <li role="presentation"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}">
        <a id="allCharacters" routerLink="/">Harry Potter Characters</a>
      </li>
      <li role="presentation"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}">
        <a id="newCharacter" routerLink="/new-character">New Character</a>
      </li>
    </div>
  </div>
  <div class="form-group">
    <input type="text" id="search" class="form-control" placeholder="Search by name..." autocomplete="off">
  </div> 
  <div class="search-button">
    <button id="searchButton"></button>
  </div> 
</nav>
