<div>
  <ul class="nav nav-tabs">
    <li role="presentation">
      <a routerLink="/characters/all">All</a>
    </li>
    <li role="presentation">
      <a routerLink="/characters/gryffindor">Gryffindor</a>
    </li>
    <li role="presentation">
      <a routerLink="/characters/slytherin">Slytherin</a>
    </li>
    <li role="presentation">
      <a routerLink="/characters/ravenclaw">Ravenclaw</a>
    </li>
    <li role="presentation">
      <a routerLink="/characters/hufflepuff">Hufflepuff</a>
    </li>
  </ul>
  <router-outlet></router-outlet>
</div>
