<div class="tab-container">
  <ul class="nav nav-tabs">
    <li role="presentation">
      <a id="allTab" routerLink="/characters/all">All</a>
    </li>
    <li role="presentation">
      <a id="gryffindorTab" routerLink="/characters/gryffindor">Gryffindor</a>
    </li>
    <li role="presentation">
      <a id="slytherinTab" routerLink="/characters/slytherin">Slytherin</a>
    </li>
    <li role="presentation">
      <a id="ravenclawTab" routerLink="/characters/ravenclaw">Ravenclaw</a>
    </li>
    <li role="presentation">
      <a id="hufflepuffTab" routerLink="/characters/hufflepuff">Hufflepuff</a>
    </li>
  </ul>
  <router-outlet></router-outlet>
</div>
