<div>
    <ul class="nav nav-tabs">
      <li role="presentation" [ngClass]="{active: chosenList === 'all'}">
        <a (click)="onChoose('all')" style="cursor: pointer">All</a>
        </li>
      <li role="presentation" [ngClass]="{active: chosenList === 'gryffindor'}">
        <a (click)="onChoose('gryffindor')" style="cursor: pointer">Gryffindor</a>
        </li>
      <li role="presentation" [ngClass]="{active: chosenList === 'slytherin'}">
        <a (click)="onChoose('slytherin')" style="cursor: pointer">Slytherin</a>
        </li>
        <li role="presentation" [ngClass]="{active: chosenList === 'ravenclaw'}">
            <a (click)="onChoose('ravenclaw')" style="cursor: pointer">Ravenclaw</a>
            </li>
          <li role="presentation" [ngClass]="{active: chosenList === 'hufflepuff'}">
            <a (click)="onChoose('hufflepuff')" style="cursor: pointer">Hufflepuff</a>
            </li>
    </ul>
    <app-list [characters]="getCharacters()"></app-list>
  </div>
