<a style="cursor: pointer;" class="list-group-item">
  <h4 class="list-group-item-heading">{{ character.name }}</h4>
  <div class="button-wrapper">
    <button class="btn-gryffindor" id="btnGryffindor" (click)="onAssign('gryffindor')">Gryffindor</button>
    <button class="btn-slytherin" id="btnSlytherin" (click)="onAssign('slytherin')">Slytherin</button>
    <button class="btn-ravenclaw" id="btnRavenclaw" (click)="onAssign('ravenclaw')">Ravenclaw</button>
    <button class="btn-hufflepuff" id="btnHufflepuff" (click)="onAssign('hufflepuff')">Hufflepuff</button>
  </div>
</a>
